# **Variables**

A memory location that stores values or a data unit whith in a program
- this can be accesed and changed during the program run time
- value can be called up through a variable name

A value can be anything such as number, character, string, float..etc

It is created by using Assignment operator

**Rules for naming a variable:** called as an identifier

- A variable can only begin with (A-Z/a-z) or with an _(underscore)
- The rest of the identifier may contain (a-z/A-Z) or with an _ or with the numbers(0-9)
- These are case sensitive

eg: accepted: spam, eggs, spam23, _speed X, X1, X33, AB_, _S1
unacceptable: 23spam, #sign, var1.2

- reserved keywords cannot be used as variable names as they are already reserved, There are 33 reserved keywords in python

In [ ]:
#First variable 

X = 12.2  #here = is the assignment operator, X is the variable, and 12.2 is the assigned value
print(X)

12.2

In [ ]:
X = 100
print(X) #here x is assigned another value hence now x value is 100

100

In [ ]:
# Keywords in Python

import keyword

print(keyword.kwlist) #These are the reserved keywords and cannot be used as variables

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Mnemonic Variable

- these are the memory aids, says us to choose simple variable names not using reserved words.
- Variable should reflect our intent on what data is stored in a variable
- Lastly we need to create a variable which makes more sense while using them

For example, here are three programs which differentiates the difference:

In [ ]:
# first example
x1q329acd = 35.0
x1q3z9afd = 12.50
x1q3pq9afd = x1q329acd * x1q3z9afd
print(x1q3pq9afd)

437.5

In [ ]:
# second example
a = 35.0
b = 12.50
c = a*b
print(c)

437.5

In [ ]:
#third example
hrs = 35.0  # this has the clear understanding of why we used those variables
rate = 12.50
pay = hrs*rate
print(pay)

437.5

**Constant**

Constant is a types of variable whose value cannot be changed
- python doesn't have built in constant types, but by convention, the variable name with all capital letters used to define a constant.

eg: FILE_SIZE_LIMIT = 2000,         
    PI = 3.14

**Variable Data Types**
Based on the data type of the variable, python allocates memory and decides what can be stored
 1. NUMERIC:
      - Int     X = 10
      - float   X = 10.5
      - complex X = 10+0j
 2. SEQUENCE:
      - strings x = "hi my name is" or x = 'hi my name is'
      - List 
      - Tuple
 3. Others:
      - Boolean
      - set
      - Dictionaries

Strongly typed: the variables do have a type and the type matters while doing the operations on variables

dynamically typed: type is determined only during run time

here some of the operations are prohibited for performing for example, performing addition on int and string datatypes

In [ ]:
a = 17
b = 'hello'
c = a+b # here it should perform concatination not addition hence it throws error

TypeError: ignored

In [ ]:
# Type conversion (can be checked the type of data of the variable by type() function)
x = 10 
type(x)
a = 'hello'
type(a)

str

In [ ]:
type(4)

int

In [ ]:
type('17.1')

str

**Statements** : these are unit of code in python interpretor

a = 2   Assignment statement

a = a+2  assignment with expression

print(a)  print statement

There are two types of statements in python:
- Single line statement - Assign a value to a variable

- Multi line statement - A statement may span over several lines - Preferred style to handle multi-line expressions is to break a long statement over multiple lines, wrap the expression inside parentheses, braces, & brackets - Another way to wrap multiple lines is by using a backslash () at the end of every line to indicate line continuation

**Expressions**

Thesea are the combination of values, variables and operators
- it may consist of one or more operands and 0 or more operators to produce a value
- operators are +,-,*,%...etc

order of operators(precedence): should know which operatior should perform first
- python follows PEMDAS rule i.e., paranthisis,exponential,multiplication,division,reminder,addition and subtraction and performs Left to right

In [ ]:
final = a+5 #here final is the variable, a&5 are operands, + is operator combining called as expression

In [ ]:
# Arithmetic expressions
a = 5
b = 10
x1 = a+b #addition
x2 = a-b # subtraction
x3 = a*b # multiplication
x4 = a/b # floating division
x5 = a//b # truncating division
x6 = a%b  # modulo
x7 = a**b # exponential
print(x1)
print(x2)
print(x3)
print(x4)
print(x5)
print(x6)
print(x7)

15
-5
50
0.5
0
5
9765625

In [ ]:
#order of operation example

x = 1+2**3/4*5  # here first paranthisis is done followed by exponential followed by multiplication and division
print(x)

11.0

**Type conversion**

we have two types of type conversions
1. explicit type conversion: which can be done manuall, supports various built in type conversion funtions such as int(), float(), str()...etc      
    syntax: required_datatype(expression)

2. Implicit type conversion: here python interpreter automatically convertes during the run time
- converts smallerr data type to longer data type to avoid losses

eg: addition of a integer and float value results in float value

- it has problem with all the conversions because it does not suport all the data types, for example addition of str and integer or float, it throws error as it is not a numeric

In [ ]:
# explicit type conversion
x = '30'
y = '8'
q = float(x)*float(y) # here we can converting str() to int() manually and performing operations
print(q)

240.0

In [ ]:
# implicit type conversion
x = 123
y = 1.23
z = x+y
print(z)
type(z)

124.23

float

In [ ]:
x = 123
y = '456'
z = x+y
print(z)

TypeError: ignored

**USER INPUT**
python allows user to give input at the runtime by usint input() function

converting user input: if we want to convert the string to number from the input we need to use type conversion function, as all the inputs are strings

In [ ]:
name = input("who are you")
print("welcome",name)

who are youram
welcome ram

In [ ]:
# converting user input
x = float(input("enter number")) # it takes input as string and converts to int
y = x+1
print(y)
type(y)

enter number24
25.0

float

**Comments in python**
These are used to explain the code in python and it can be anything.
- these are represented by # for single line comments, and ''' ''' for multiple line comments
- the matter written after # and in between ''' ''' are ignored by the interpreter.

In [ ]:
# these are comments and there are not printed at the time of output
''' these are multiple line comments
the comments which are written to explain the code, 
these are also avoided by the interpreter and are not executed but shows at the output'''

' these are multiple line comments\nthe comments which are written to explain the code, \nthese are also avoided by the interpreter and are not executed but shows at the output'